/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slick-arrow{
    display: block;
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 10;
    background: rgba(255, 255, 255, 0.05);
  }
  .slick-arrow::before {
    display: block;
    position: absolute;
    top: 8px;
    
    width: 10px;
    height: 10px;
    content: '';
    border-top: 2px solid var(--f-orange);
    border-right: 2px solid var(--f-orange);
    cursor: pointer;
    
    
  }
  .slick-arrow:hover,
  .slick-arrow:hover .slick-arrow::before {
      border-color: var(--f-orange);

  }
  .slick-arrow.slick-prev{
    right: 35px;
  }
  .slick-arrow.slick-next{
    right: 0;
  }
  .slick-arrow.slick-prev::before{
    transform: rotate(-135deg);
    left: 10px;
  }
  .slick-arrow.slick-next::before{
    transform: rotate(45deg);
    left: 6px;
  }
  

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 10px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    background: var(--f-orange);
}
.slick-dots li.slick-active button
{
    background: var(--f-orange);
}




@media (min-width: 1200px) {
    .slick-arrow{
        top: -40px;
        width: 35px;
        
      }
      .slick-arrow::before {
        top: 5px;
        width: 13px;
        height: 13px;
        
        
      }

      .slick-arrow.slick-prev{
        right: 45px;
      }
      .slick-arrow.slick-next{
        right: 0;
      }
      .slick-arrow.slick-prev::before{
       
        left: 12px;
      }
      .slick-arrow.slick-next::before{
      
        left: 8px;
      }
      

}